form {
  background-color: khaki;
  color: black;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  padding: 0 20px 0;
}

label span {
  font-weight: bold;
  font-size: 1em;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 1em;
}

input:focus {
  border-color: #ffcd00;
  outline: none;
}

button {
  display: block;
  background-color: #ffcd00;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

button:hover {
  background-color: #ffb300;
}
